.texpadtmp
.DS_Store
main.aux
main.bbl
main.bcf
main.bib-save-2025.01.08:16.04.15
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.run.xml
main.toc
main.xdv
main.synctex.gz
main.synctex(busy)
